page-music {
  ion-menu-button {
    color:white;
  }
   
   ion-header ion-toolbar{
      --background: #1F8367;
      color:white;
   }
 
   
   .item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    font-family: 'RiftSoft';
    font-size: 1.4em;
  
  }
  .ion-text-center{
    font-family: 'RiftSoft';
    font-size: 1em;
    color:#00bd56;
  }
  .headboi{
    margin-top: 4em;
  }

  .headboi img {
    margin: 0 auto;
    border-radius: 100%;
    width: 30%;
    margin: 0;
  }
  ion-content,ion-list,ion-item{
    --background:var(--ion-color-light);
    --ion-background-color:var(--ion-color-light);
    color:black;
  }

      
}
