<ion-header no-border>
  <ion-navbar color='navbarColor'>

    <ion-item color='navbarColor' no-lines text-wrap style="padding:0px !important; ">
      <ion-label start>
        <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu" style="color: white; font-size:35px;" class="meinu"></ion-icon>
          </button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meditate</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="headboi" align="center" *ngIf="!activeTrack">
    <img src="{{headimg}} " width="20%">
    <h1></h1>
  </div>
  <div class="headboi" align="center" *ngIf="activeTrack">
    <img src="{{activeTrack.data}} " width="20%">
    <h1></h1>
  </div>
  <ion-list>
    <ion-item *ngFor="let track of playlist " button (click)="start(track)">
      <ion-avatar slot="start">
        <img src="{{track.data}}" width="110%">
      </ion-avatar>
      <ion-label [color]="track ==activeTrack ? 'success' : 'dark' ">
        {{track.text}}
      </ion-label>

    </ion-item>
  </ion-list>


</ion-content>


<ion-footer *ngIf="activeTrack" align="center" style="background-color: white;">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col col-12>
        <ion-label class="ion-text-center">
          {{activeTrack.text}}
        </ion-label>
      </ion-col>
      <ion-col col-12>
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (moseup)="seek()">
        </ion-range>
      </ion-col>
      <ion-col col-12 class="ion-text-center">
        <button ion-button (click)="prev()" fill="clear" style="color: white;">
          <ion-icon  name="skip-backward" slot="icon-only"></ion-icon>
        </button>

        <button ion-button (click)="togglePlayer(false)" fill="clear"  *ngIf="!isPlaying">
          <ion-icon name="play" slot="icon-only"></ion-icon>
        </button>

        <button ion-button (click)="togglePlayer(true)" fill="clear"  *ngIf="isPlaying">
          <ion-icon name="pause" slot="icon-only"></ion-icon>
        </button>

        <button ion-button (click)="next()" fill="clear" >
          <ion-icon name="skip-forward" slot="icon-only"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-toolbar>



</ion-footer>